body {
    background-color: rgba(13, 25, 43, 100);

    font-family: 'Outfit', sans-serif;
}

div.preview-card {
    background-color: rgba(20, 36, 61, 100);
    box-shadow: 0px 10px 48px rgba(10, 10, 10, 45);

    position: relative;

    margin: 20vh auto;
    padding: 18px;

    max-width: 300px;
    height: auto;

    border-radius: 14px;
}

div.preview-card img.preview {
    border-radius: 14px;
    margin: auto;
}

div.preview-card h4 {
    color: rgba(255, 255, 255, 100);

    font-weight: 600;
    font-size: 1.6em;
}

div.preview-card p {
    color: rgba(139, 172, 218, 100);

    font-weight: 300;
    font-size: 1em;
}
