body {
    background-color: rgba(13, 25, 43, 100);

    font-family: 'Outfit', sans-serif;
}

hr {
    color: rgba(48, 65, 90, 100);
    margin-top: 22px;
    height: 1px;

    border-style: none none solid none;
    border-width: 2px;
}

div.preview-card {
    background-color: rgba(20, 36, 61, 100);
    box-shadow: 0px 10px 48px rgba(10, 10, 10, 45);

    position: relative;

    margin: 20vh auto;
    padding: 18px;

    max-width: 300px;
    height: auto;

    border-radius: 14px;
}

div.preview-card div.img-container {
    max-width: 300px;
    height: auto;

    position: relative;
}

div.preview-card div.img-container img.preview {
    display: block;
    border-radius: 14px;
    margin: auto;
}

div.preview-card div.img-container div.img-ovrl {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    width: 100%;
    height: 100%;

    transition: .3s ease-in;

    background-color: rgba(0, 255, 245, 0);
    border-radius: 14px;
}

div.preview-card div.img-container div:hover.img-ovrl {
    background-color: rgba(0, 255, 245, 0.4);
}

div.preview-card div.img-container div.img-ovrl::after {
    content: url(../images/icon-view.svg);

    color: rgba(255, 255, 255, 100);

    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    display: none;

    transition: .3s ease-in;
}

div.preview-card div.img-container:hover div.img-ovrl::after {
    display: block;
}

div.preview-card h4 {
    color: rgba(255, 255, 255, 100);

    font-weight: 600;
    font-size: 1.6em;
}

div.preview-card p {
    color: rgba(139, 172, 218, 100);

    font-weight: 300;
    font-size: 1em;
}

div.preview-card div.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.preview-card span.price {
    color: rgba(0, 255, 245, 100);

    font-weight: 600;
    font-size: 0.8em;
}

div.preview-card span.price::before {
    content: url(../images/icon-ethereum.svg);

    width: 1em;
    float: left;

    margin-right: 6px;
    margin-top: 2px;
}

div.preview-card span.time-remaining {
    color: rgba(139, 172, 218, 100);

    font-weight: 600;
    font-size: 0.8em;
}

div.preview-card span.time-remaining::before {
    content: url(../images/icon-clock.svg);

    width: 1em;
    float: left;

    margin-right: 8px;
}


div.preview-card div.author {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

div.preview-card div.author span {
    color: rgba(139, 172, 218, 100);

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 300;
    font-size: 0.8em;
}

div.preview-card div.author span strong.author-name {
   +    color: rgba(255, 255, 255, 100);
   +
   +    font-weight: 600;
   +    font-size: 1em;
   +}

div.preview-card div.author img {
    border: 1px solid rgba(255, 255, 255, 100);
    border-radius: 50%;

    margin: auto 6px auto 6px;
}

.attribution {
    color: rgba(139, 172, 218, 100);

    margin: 14px;

    font-size: 0.8em;
    text-align: center;
}

.attribution a {
    color: rgba(255, 255, 255, 100);
    text-decoration: underline;
}
