<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap" rel="stylesheet">

    <title>NFT preview card component {{ hi }}</title>
</head>
<body role="main">
    <div class="preview-card">
        <div class="img-container">
            <img class="preview" src="../static/images/image-equilibrium.jpg" alt="Equilibrium #3429" width="300px" height="auto">
            <div class="img-ovrl"></div>
        </div>

        <h4>Equilibrium #3429</h4>

        <p>Our Equilibrium collection promotes balance and calm.</p>

        <div class="info">
            <span class="price">0.041 ETH</span>
            <span class="time-remaining">3 days left</span>
        </div>

        <hr/>
        <div class="author">
            <img src="../static/images/image-avatar.png" alt="jules wyvern avatar" width="20px" height="20px">
            <span>
                Creation of <strong class="author-name">Jules Wyvern</strong>
            </span>
        </div>
    </div>

    <div class="attribution">
        Challenge by <a href="https://www.frontendmentor.io/challenges/nft-preview-card-component-SbdUL_w0U" target="_blank">Frontend Mentor</a>.
        Coded by <a href="https://github.com/ryeokra">ryeokra</a>.
    </div>
</body>
</html>
